# Folder penyimpanan Markdown (absolute path recommended)
MD_ROOT=/var/markdown

# Kredensial login (GANTI SEGERA!)
MD_USER=admin
MD_PASS=ganti_password_ini

# Network
PORT=8080
HOST=0.0.0.0

# Auth
ENABLE_AUTH=true

# Secret (opsional)
SECRET_KEY=ubah-dengan-random-string-panjang-minimal-32-karakter

# Default template: blank | catatan | rapat | todo
# DEFAULT_TEMPLATE=blank
# Folder awal relatif ke MD_ROOT (kosong = root)
# DEFAULT_FOLDER=
